<template>
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Login System
                    </p>
                    <!--<a href="#" class="card-header-icon" aria-label="more options">-->
                    <!--<span class="icon">-->
                    <!--<i class="fas fa-angle-down" aria-hidden="true"></i>-->
                    <!--</span>-->
                    <!--</a>-->
                </header>
                <div class="card-content">
                    <div class="content">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input"
                                       type="email"
                                       v-model="form.email"
                                       placeholder="Enter email"
                                       @keyup.enter="loginUser">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <!--<span class="icon is-small is-right">-->
                                    <!--<i class="fas fa-exclamation-triangle"></i>-->
                                <!--</span>-->
                            </div>
                            <p class="help is-danger" v-if="errors['email']">{{ errors['email'][0] }}</p>
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input"
                                       type="password"
                                       v-model="form.password"
                                       placeholder="Enter password"
                                       @keyup.enter="loginUser">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                                <!--<span class="icon is-small is-right">-->
                                <!--<i class="fas fa-exclamation-triangle"></i>-->
                                <!--</span>-->
                            </div>
                            <p class="help is-danger" v-if="errors['password']">{{ errors['password'][0] }}</p>
                        </div>
                        <article v-if="auth_error" class="message is-danger">
                            <div class="message-body">
                                {{ auth_error }}
                            </div>
                        </article>
                        <div class="field is-grouped is-grouped-centered">
                            <div class="control">
                                <button :class="['button is-link pl-5 pr-5', loading ? 'is-loading' : '']"
                                        :disabled="loading"
                                        @click="loginUser">
                                    Login
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import {login} from "../../api/auth";

    export default {
        data() {
            return {
                form: {
                    email: '',
                    password: ''
                }
            }
        },
        computed: {
            auth_error() {
                return this.$store.getters.auth_error;
            },
            errors() {
                return this.$store.getters.errors;
            },
            loading() {
                return this.$store.getters.loading;
            }
        },
        methods: {
            loginUser() {
                this.$store.dispatch('login');
                login(this.form)
                    .then(res => {
                        this.$store.commit('loginSuccess', res);
                        this.$router.push('/');
                    })
                    .catch(err => {
                        this.$store.commit('loginFailed', err);
                    })
            }
        }
    }
</script>
