<template>
    <div class="container is-mobile">
        <NavComponent />
        <router-view></router-view>
    </div>
</template>
<script>
    import NavComponent from './../layouts/NavComponent';

    export default {
        components: {
            NavComponent
        }
    }
</script>
