<template>
    <nav class="navbar is-light mb-3 pl-2 pr-2" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://pirago.vn/images/logo.png" width="112" height="28">
            </a>

            <a role="button"
               :class="['navbar-burger burger', isActive ? 'is-active' : '']"
               @click="isActive = !isActive"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" :class="['navbar-menu', isActive ? 'is-active' : '']">
            <div class="navbar-start">
                <router-link tag="a" class="navbar-item" to="/">Home</router-link>
                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" @click="isShowMore = !isShowMore">
                        More
                    </a>
                    <div class="navbar-dropdown" v-if="isShowMore">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end" v-if="!currentUser">
                <div class="navbar-item">
                    <div class="buttons">
                        <router-link tag="a" to="/login" class="button is-primary">Login</router-link>
                        <router-link tag="a" to="/register" class="button is-link">Register</router-link>
                    </div>
                </div>
            </div>
            <div class="navbar-end" v-else>
                <a class="navbar-item">
                    {{ currentUser.user_name }}
                </a>
                <a class="navbar-item">
                    <button class="button" @click="logout">Logout</button>
                </a>
            </div>
        </div>
    </nav>
</template>
<script>
    export default {
        data() {
            return {
                isActive: false,
                isShowMore: false
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.currentUser;
            }
        },
        methods: {
            logout() {
                this.$store.commit('logout');
                this.$router.push('/login');
            }
        }
    }
</script>
